.box{
    background-color: #ebe9d7;
    height: 1024px;
    display: flex;
    justify-content: center;
}

.box-secundary{
    margin-top: 44px; 
    height: 782px;
    width: 923px;
    background-color: #fff;
    padding: 48px;
    
}

p{
    width: 762px;
    max-width: 0px auto ;
    margin: 45px 0px 0px 30px;
    font-family: SourceSansPro;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.38px;
    text-align: left;
    color: #8d8c8c;
}