.enterprises{
    margin: 44px;
    display: flex;
    flex-direction: row;
    background-color:#ffff;
    width: 923px;
    height: 213px;
    justify-content: left;
    align-items: center;
}

.img {
    margin:0px 0 0 10px ;
}
.enterprises-data {
    margin-left: 40px;
    background-color: #ffff;
}
.enterprises-data h1{
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    color: #1a0e49;
    text-align: left;
}

.enterprises-data h3{
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
    color: #8d8c8c;
}

.enterprises-data h5{
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #8d8c8c;
}

@media screen and (max-width: 600px) {
    .enterprises{
        display: flex;
        flex-direction: column;
        background-color:#ffff;
        justify-content: initial;
        align-items: center;
        width: 70%;
        height: 40%;
        
    }
    .enterprises img{
        width: 80%;
        margin: 10px 0 0 0;
    }
    .enterprises-data {
        margin-left: 0px;
    }

}