.search{
    height: 873px;
    background-color:  #ebe9d7;
}

img #lupa-header{
    margin-left: 295px;
}

h2{
    font-family: Roboto;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: -0.45px;
    text-align: center;
    color: #383743;
    margin-top: 395px;
}

.navbar{
    background-image: linear-gradient(173deg, #ee4c77, #ee4c77);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 151px;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
}
