.container-fluid{
    height: 100%;
    background-color: #ebe9d7;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 0 auto;
}

.container-fluid form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 275.7px;
    background-color: #ebe9d7;
}
input{
    background-color: transparent;
    padding:10px 10px 10px 5px;
    border: none;
    border-bottom: solid 0.7px  rgba(56,55,67,0.5);
    width: 351px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: -0.25px;
    text-align: left;
    color: rgba(56,55,67,0.9);
}
textarea:focus, input:focus, select:focus {
    outline: 0;
} 

input[type=email], input[type=password]{
    padding-left: 10%;
  }

#icon-pass{
      background-image: url(../../assets/ic-cadeado.png);
      background-position: 0px 0px;
      background-repeat: no-repeat;
    
  }
  #icon-email{
    background-image: url(../../assets/ic-email.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
  
}

button{
    width: 324px;
    height: 52.8px;
    border-radius: 3.6px; 
    background-color: #57bbbc;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffff;
}


.container-fluid img{
    margin-top: 231px;
    margin-bottom: 67px;
}

.container-fluid h1{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    color: #383743;
    margin-bottom: 20.5px;
    width: 100%;
    max-width: 176px;
    text-align: center;
}

.container-fluid p{
    width: 357.7px;
    height: 52px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.25px;
    text-align: center;
    color: #383743;
    margin-bottom: 47px;
  }